fastapi
uvicorn
pydantic<=2.10.6
pydantic-settings
python-multipart
PyYAML
chromadb
numpy<2.0
google-genai
tqdm
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0